*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.content {
  flex: 1 1 0;
  padding: 2rem;
}

.content h1{
  color: #3c3f58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.content p{
  color: #707793;
}


header{
 background-color: #002f4d;
  border-bottom: 1px solid black;
  padding: 1rem 2rem; 
  display: flex;  
  justify-content:space-between;
  align-items:center;
  
  
}

.container{
  display: flex;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
}




img{
  float: left;
  margin-right: 20px;
  width: 150px;
  border-radius: 10px;
  
}

.header-img{
   width: 200px;
   padding-right: 1rem;
   
}
.header-img-harmony{
  padding-right: 1rem;
  width: 235px;
}

.feature-card {
  display: flex;
  flex-direction: row; 
  width: 100%;
  
  height: 300px; 
  border: 1px solid #002f4d;
  border-radius: 12px;
  background: #fff;
  margin: .5rem;
  max-width: 98%;
}

.card-image {
  flex: 0 0 50%; 
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
}

.card-content {
  flex: 0 0 50%; 
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; 
}

.feature-card:hover{
  border: 5px black solid;
}

a{
  text-decoration: none;
  color: black;
}

.information{
  font-size: larger;
  max-width: 50%;
}




.menu{
  padding-top: 1rem;
  
  
  
}

.menu-item{
  color: yellow;
  margin-right: 5px;
  font-size: x-large;
  border: 1px   solid;
  border-radius: 20px;
  background-color: green;
  padding: .8rem;
}


.menu-item:hover{
  background-color: #005f4d;
  border-radius: 10px;
}

.World-Name{
  font-size: 150px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-cards{
  padding: 2px 16px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
}

@media (max-width: 1400px){
  .information{
    max-width: 100%;
  }
  .container-cards{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  }
  .menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .header-img {
    display: none;
    
  }
}

@media (max-width: 850px){
  .menu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

}